* {
    padding: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    background: red;
    color: white;
    text-align: center;
}

a {
    background: rgb(12, 238, 246);
    color: black;
    text-decoration: none;
}

.menu {
    text-align: right;
}

.error {
	color: red;
	font-size: 14px; 
}